<div class="container-big-card">
  <div class="big-card-photo">
    <img
    src="https://sm.ign.com/ign_br/screenshot/default/batman-hqs-inspiracoes_x1u9.jpg"
    height="200px"
    alt="">
  </div>



  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão do Angular !</a></h1>
  </div>
  <div class="big-card-description">
      <p>
        <a href="#" target="_blank" rel="noopener noreferrer">A maioria das pessoas que ouve o termo Inteligência Artificial (IA) se lembra logo de vários filmes, séries e livros – o que não faltam são obras sobre o tema. O enredo geralmente fala de robôs super inteligentes e suas interações com os humanos. Ao longo da narrativa, eles acabam desenvolvendo sentimentos, algumas vezes bons e, em outras ocasiões, nem tanto.</a>
      </p>

  </div>
</div>
